# アプリケーション全体のデフォルトオーナー
* @shomakobayashi

# バックエンドコードのオーナー
apps/backend/ @codeowners-test/backend-team

# フロントエンドコードのオーナー
apps/frontend/ @codeowners-test/frontend-team

# インフラ関連のコードはインフラチームが担当
apps/infrastructure/ @codeowners-test/infrastructure-team