# アプリケーション全体のデフォルトオーナー
* @shomakobayashi

# バックエンドコードのオーナー
apps/backend/ @cordwners-test/backend-team

# フロントエンドコードのオーナー
apps/frontend/ @cordowners-test/frontend-team

# インフラ関連のコードはインフラチームが担当
apps/infrastructure/ @cordeowners-test/infrastructure-team